project:
  type: website

website:
  title: "chrestotes"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    toc-depth: 3
    toc-location: right
    toc-title: "On this page"
    smooth-scroll: true
    code-copy: true
    code-overflow: wrap
    mermaid:
      theme: default



